{% extends "exchangeapp/header.html" %}

{% block content %}

{% load staticfiles %}

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Exchange" />
</form>

<div>
    <span class="badge badge-pill badge-info">Current rate: {{current}}</span>
</div>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for date, rate in changes.items %}
                {% if rate < current %}
                    <tr class="table-danger">
                {% elif rate > current %}
                    <tr class="table-success">
                {% else %}
                    <tr class="table-active">
                {% endif %}
                <td>{{date}}</td>
                <td>{{rate}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
