{% extends "exchangeapp/header.html" %}

{% block content %}

{% load staticfiles %}
<div class="jumbotron">

<form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Exchange" class="btn btn-info"/>
</form>

<div>
    <h4><span class="badge badge-pill badge-info">Current rate: {{current}}</span></h4>
</div>
</div>
<div class="container">
    <table class="table table-hover">
        <thead>

            <tr>
                <th>Date</th>
                <th>Rate</th>
            </tr>
        </thead>
        <tbody>
            {% for date, rate in changes.items %}
                {% if rate < current %}
                    <tr class="table-danger">
                {% elif rate > current %}
                    <tr class="table-success">
                {% else %}
                    <tr class="table-secondary">
                {% endif %}
                <td>{{date}}</td>
                <td>{{rate}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
